@charset "utf-8";

.img-wrapper {
  width: 12rem;
  height: 12rem;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.modal-wrapper {
  width: inherit;
  height: inherit;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.modal-header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}

.dark-hover {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dark-hover:hover {
  opacity: 0.6;
}

.p-white-hover {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "noto-sans-KR";
  padding: 15px;
}

.img-style {
  width: inherit;
  height: inherit;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  /* margin: 10px; */
  /* background-color: none; */
  /* display: inline-flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer; */
}
