@charset "utf-8";

.todo-all-wrap {
  display: flex;
  flex-direction: column;
}

.todo-title-wrap {
  display: flex;
}

.todo-title {
  margin: 0 auto;
}

.todo-setmode-wrap {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.todo-setmode-wrap p {
  margin-left: auto;
}

/*****************
/ toggle button
/*****************

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.todo-input-wrap {
  padding: 10px 0;
}

.todo-input {
  width: 230px;
  height: 40px;
  padding: 10px;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
}

.todo-submit {
  width: 60px;
  height: 40px;
  margin-left: 10px;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  background-color: rgb(187, 187, 187);
}

.todo-submit:hover {
  background-color: rgb(148, 148, 148);
}

.todo-submit:active {
  background-color: #2f8dda;
}

.todo-list-all-wrap {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
}

.todo-list-title {
}

.todo-list-state {
  color: #2196f3;
  font-size: 10px;
}

.todo-list-ul-wrap {
  margin-bottom: 10px;
  padding: 10px;
}

.todo-list-ul {
}

.todo-list-li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.todo-list-li p {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.todo-list-li p span {
  font-size: 10px;
  color: #2196f3;
}

.todo-list-li-button {
  width: 45px;
  height: 30px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(126, 126, 126);
  color: #e6e6e6;
  margin-left: 3px;
}

.todo-list-li-button:hover {
  background-color: rgb(92, 92, 92);
}

.todo-list-li-button:active {
  background-color: #2f8dda;
}
